<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- seo -%}
  {%- feed_meta -%}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&display=swap">

  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="icon" href="{{ '/assets/img/favicon.svg' | relative_url }}" type="image/svg+xml">
  <meta name="theme-color" content="#e08a3c">

  <script src="{{ '/assets/js/lightbox.js' | relative_url }}" defer></script>
</head>
